<div class="principal_user">
    <div class="titulo">
        <h2>Configuracion del usuarios</h2>
    </div>
    <div class="opcionales_user">
        <div class="configuracion_perfil">
            <img src="../assets/img/svg-images/config.svg" alt="Rueda config" style="height: 35px; fill: white;">
            <p> Configuración de Perfil</p>
        </div>
        <div class="cerrar_sesion">
            <img src="../assets/img/svg-images/cerrarsesion.svg" alt="Cerrar Sesion" style="height: 35px; fill: white;">
            <p>Cerrar Sesión</p>
        </div>
    </div>
</div>
