<div class="footer">
    <div class="footer_desktop">
        <div class="footer_cancion">
            <p id="cancion"> Mi vida ven a bailar</p>
            <span id="album"> Yamana </span>
        </div>
        <div class="cancion_resp">
            <p> Mi vida ven a bailar - Yámana</p>
        </div>

            <div class="footer_clasificacion">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>  
            <div class="corazones_resp">
                <div class="dropdown ">
                    <i class="fa fa-heart-o" aria-hidden="true" class="dropdown-toggle dropup" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"></i>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <i class="fa fa-heart-o dropdown-item" aria-hidden="true"></i>
                        <i class="fa fa-heart-o dropdown-item" aria-hidden="true"></i>
                        <i class="fa fa-heart-o dropdown-item" aria-hidden="true"></i>
                        <i class="fa fa-heart-o dropdown-item" aria-hidden="true"></i>
                        <i class="fa fa-heart-o dropdown-item" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
                    <div class="video_player-icon">
                    <img id="btn_anterior" src="../assets/img/svg-images/anterior.svg" alt="Cancion anterior" style="height: 52px;">
                    <img id="btn_play" src="../assets/img/svg-images/play.svg" alt="" style="height: 70px;">
                    <img id="btn_siguiente" src="../assets/img/svg-images/siguiente.svg" alt="Siguiente cancion" style="height: 52px;">
                    
                    </div>
                    <div class="video_player-random">
<img id="btn_random" src="../assets/img/svg-images/random.svg" alt="Random" style="height: 28px;">
                    </div>
                    <div class="video_player-barra">
                        <p class="comienzo"> 01:50</p>
                            <div class="barra">
                                <div class="circle"></div>
                            </div>
                            <p class="fin"> 03:00 </p>
                        </div>
                            <div class="volumen">
                                <img src="../assets/img/svg-images/vol-silencio.svg" alt="volumen">
                                <div class="barra_volume">
                                    <div class="circle_volume"></div>
                                </div>
                            </div> 
                            <div class="hamburguesa">
                                <img src="../assets/img/svg-images/menu.svg" type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" alt="menu" style="height: 45px;">
                                <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Ver Datos Cancion</a>
                                        <a class="dropdown-item" href="#">Ver PodCast</a>
                                        <a class="dropdown-item" href="#">Ver PlayList</a>
                                        <a class="dropdown-item" href="#">Ver Artista</a>
                                        <a class="dropdown-item" href="#">Agregar a PlayList</a>
                                        <a class="dropdown-item" href="#">Agregar a Favoritos</a>
                                </div>
                            </div>
                </div>

    </div>
   