<div class="footer">
    <div class="footer_desktop">
        <div class="footer_cancion">
            <p id="cancion"> Mi vida ven a bailar</p>
            <span id="album"> Yamana </span>
        </div>

        <div class="footer_clasificacion">
            <ng-container *ngIf="noVoted;else votedHearts">
                <ng-container *ngFor="let number of numbers">
                    <i class="fa fa-heart-o" (click)="vote(number)" aria-hidden="true"></i>
                </ng-container>
            </ng-container>
            <ng-template #votedHearts>
                <ng-container  *ngFor="let fullHeart of fullHearts;let i= index">
                    <i class="{{fullHeart}}" (click)="vote(i+1)" aria-hidden="true"></i>
                </ng-container>
            </ng-template>
        </div>
            <div class="footer_reproductor">
                <div class="video_player">
                    <div class="video_player-barra">
                    <p class="comienzo"> 01:50</p>
                        <div class="barra">
                            <div class="circle"></div>
                        </div>
                        <p class="fin"> 03:00 </p>
                    </div>
                    <div class="video_player-icon">
                        <i class="fa fa-play-circle" aria-hidden="true"></i> 
                        <i class="fa fa-repeat" aria-hidden="true"></i>
                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                    <i class="fa fa-step-forward" aria-hidden="true"></i>
                    <i class="fa fa-random" aria-hidden="true"></i>
                    </div>
                    
                </div>
            </div>
             <div class="volumen">
                 <img src="../assets/img/svg-images/vol-silencio.svg" alt="volumen">
                <div class="barra_volume">
                    <div class="circle_volume"></div>
                </div>
            </div> -
    </div>
         <div class="footer_responsive">

             <div class="clasificacion_resp">
                <i class="fa fa-heart-o resp-fa-heart-o" aria-hidden="true"></i>
                <div class="desplegable_res">
                    <div class="corazones_resp">
                        <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                    </div>
                </div>
             </div>
             <div class="menu_hambur_resp">
                 <img src="../assets/img/svg-images/menu.svg" alt="hamburguesa">
             </div> 
                    <div class="video_player-icon">
                        <i class="fa fa-step-backward" aria-hidden="true"></i>
                        <i class="fa fa-play-circle" aria-hidden="true"></i> 
                        <i class="fa fa-step-forward" aria-hidden="true"></i>
                    </div>
                    <div class="cancion_resp">
                        <p id="cancion"> Mi vida ven a bailar</p>
                        <p id="responsive_cancion"> - </p>
                        <span id="album"> Yamana </span>
                     </div>
                    <div class="reproductor_resp_barra">
                        <p class="comienzo_resp"> 01:50</p>
                            <div class="barra_resp">
                                <div class="circle_respo"></div>
                            </div>
                            <p class="fin_resp"> 03:00 </p>
                    </div>

             <div class="volumen_resp">

             </div>
        </div>
</div>
