.footer_responsive{
    visibility: hidden;
    display: none;
}

.footer{

    background-color: black;
    position: fixed;
    width: 100%;
    height: 135px;
    bottom: 0;
    margin-right: auto;
}
.footer_desktop{
    display: grid;
    grid-template-columns: 247px 200px 750px 200px;
    grid-template-rows: 67.5px 67.5px;
    position: absolute;
}
.footer_reproductor{
    justify-self: center;
    grid-row: 2;
    grid-column: 3;
    margin-top: 100px;
    align-self: end;
    display: grid;
}
.barra{
    background-color: #119DA4;
    height: 2px;
    position: relative;
    width: 500px;
}
.video_player-barra{
    display: inline-flex;
    grid-row: 3;
}
.video_player-barra p{
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
    position: relative;
    top: -9px;
}
.circle{
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid #119DA4;
    display:inline-block;
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    border-radius: 100%;
    top:-5px;
}
.footer_clasificacion i{
    font-size: 30px;
    margin-top: 93px;
    color: #119DA4;
    padding: 3px;
    
}
.footer .footer_desktop .footer_clasificacion{
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
}
.footer_cancion{
    color: white;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}
.footer .footer_desktop .footer_cancion p{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    position: absolute;
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    -moz-animation: example1 15s linear infinite;
    -webkit-animation: example1 15s linear infinite;
    animation: example1 15s linear infinite;
}
@-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }
.footer .footer_desktop .footer_cancion span{
   opacity: 0.4;
   margin-top: auto;
   margin-left: 10px;
}
#responsive_cancion{
    visibility: hidden;
}
.volumen{
    grid-column: 4;
    grid-row: 2;
    justify-self: center;
    display: flex;
    align-self: baseline;
}
.volumen img{
    color: white;
    position: relative;
    font-size: 35px;
    display: inline-flex;
    margin-right: 8px;
}
.footer .footer_desktop .barra_volume{
    background-color: #119DA4;
    position: absolute;
    height: 2px;
    width: 120px;
    align-self: center;
    margin-left: 35px;
}
.circle_volume{
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid #119DA4;
    position: absolute;
    border-radius: 100%;
    top:-5px;
}
.video_player{
    justify-content: center;
    align-items: initial;
    grid-template-columns: 150px 235px 400px;
    grid-template-rows: 30px 30px 30px;
    display: grid;
}
.video_player i{
    color: #119DA4;
}
.video_player-icon{
    font-size: 85px;
    
}
.fa-random{
    font-size: 40px;
    margin-top: -75px;
    margin-left: 120px;
}
.fa-repeat{
    font-size: 40px;
    margin-top: -75px;
    margin-left: -335px;
}
.footer .footer_desktop .fa-step-backward{
    font-size:  40px;
    margin-top: -15px;
    margin-left: 130px;
}
.footer .footer_desktop .fa-step-forward{
    font-size:  40px;
    margin-top: -75px;
    margin-left: 225px;
}
@media screen and (max-width: 767px) {
    .footer{
        height: 150px;
    }
   .footer_responsive .clasificacion_resp .desplegable_res .corazones_resp{
       visibility: hidden;
       display: none;
   }
    .footer_desktop{
        visibility: hidden;
        display: none;
    }
    .footer .footer_responsive{
        visibility: visible;
        display: contents;
    }
    .footer .footer_responsive{
        text-align: center;
        margin:auto;
        height: 200px;
        width: 200px;
        bottom:0;
        left:0;
        right:0;
    }
    .clasificacion_resp{
        font-size: 35px;
        color: #119DA4;
        float: left;
        margin-left: 30px;
        margin-top: 35px;
    }
    .footer_responsive .video_player-icon{
        font-size: 30px;
        color: #119DA4;
        position: absolute;
        top: 36%;
        left: 50%; 
        transform: translate(-50%, -50%); 
        text-align: center;
    }
    .footer_responsive .video_player-icon .fa-play-circle{
        font-size: 80px;
        margin: 20px;
    }
    .footer_responsive .video_player-icon .fa-step-backward,  .footer_responsive .video_player-icon .fa-step-forward{
        margin-bottom: 50px;
    }
    
    .menu_hambur_resp img{
        float: right;
        margin-right: 30px;
        margin-top: 38px;
        
    }
    .cancion_resp,.cancion_resp #cancion,.cancion_resp #album, .cancion_resp #responsive_cancion{
        display: inline-block;
        margin: 0 auto;
        padding-inline: 10px;
        text-align: center;
        color: white;
        margin-top: 5px;
    }
    .reproductor_resp_barra .barra_resp{
        background-color: #119DA4;
        height: 2px;
        position: relative;
        width: 150px;
    }
    .reproductor_resp_barra .circle_respo{
        vertical-align: middle;
        width: 15px;
        height: 15px;
        background-color: white;
        border: 2px solid #119DA4;
        display:inline-block;
        position: absolute;
        left:0;
        right:0;
        margin:0 auto;
        border-radius: 100%;
        top:-5px;
    }
    .reproducto_resp{
        text-align: center;
    }
    .reproductor_resp_barra .comienzo_resp,.reproductor_resp_barra .barra_resp,.reproductor_resp_barra .fin_resp{
        display: inline-block;
        padding-inline: 5px;
        margin:  auto;
        margin-left: 3%;
    }
    .fin_resp, .comienzo_resp{
        color: white;
        vertical-align: sub;
        display: inline-block;
        position: relative;   
    }
    #responsive_cancion{
        visibility: visible;
    }
}
