.footer_responsive{
    visibility: hidden;
    display: none;
}

.footer{

    background-color: black;
    position: fixed;
    width: 100%;
    height: 135px;
    bottom: 0;
    margin-right: auto;
}
.footer_desktop{
    display: grid;
    grid-template-columns: 247px 200px 750px 200px;
    grid-template-rows: 72.5px 67.5px;
    position: absolute;
}
.barra{
    background-color: #119DA4;
    height: 2px;
    position: relative;
    width: 500px;
}
.video_player-barra{
    display: inline-flex;
    grid-row: 2;
grid-column: 3;
justify-self: center;
align-self: end;
}
.video_player-barra p{
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
    position: relative;
    top: -9px;
}
.circle{
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid #119DA4;
    display:inline-block;
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    border-radius: 100%;
    top:-5px;
}
.footer_clasificacion i{
    font-size: 30px;
    margin-top: 93px;
    color: #119DA4;
    padding: 3px;
    
}
.footer .footer_desktop .footer_clasificacion{
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
}
.footer_cancion{
    color: white;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    
}
.footer .footer_desktop .footer_cancion p{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    position: absolute;
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    -moz-animation: example1 15s linear infinite;
    -webkit-animation: example1 15s linear infinite;
    animation: example1 15s linear infinite;
 
}
@-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }
.footer .footer_desktop .footer_cancion span{
   opacity: 0.4;
   margin-top: auto;
   margin-left: 10px;
}
.volumen{
grid-column: 4;
grid-row: 1;
justify-self: baseline;
display: flex;
align-self: end;
}
.volumen img{
    color: white;
    position: relative;
    font-size: 35px;
    display: inline-flex;
    margin-right: 8px;
}
.footer .footer_desktop .barra_volume{
    background-color: #119DA4;
    position: absolute;
    height: 2px;
    width: 120px;
    align-self: center;
    margin-left: 35px;
}
.circle_volume{
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid #119DA4;
    position: absolute;
    border-radius: 100%;
    top:-5px;
}
.video_player i{
    color: #119DA4;
}
.video_player-icon{
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    align-self: end;
}
#btn_anterior{
    margin-right: 18px;
}
#btn_siguiente{
    margin-left: 18px;
}
#btn_random{
    margin-right: 50px;
}
.video_player-random{
grid-column: 3;
grid-row: 1;
align-self: end;
justify-self: end;
margin-right: 30px;
}
.cancion_resp{
    visibility: hidden;
    display: none;
}
.corazones_resp{
    visibility: hidden;
    display: none;
}
.hamburguesa{
    visibility: hidden;
    display: none;
}
@media screen and (max-width: 767px) {
    .footer{
        height: 135px;
    }
   .footer_desktop{
    display: grid;
    grid-template-columns: 20px 320px 20px;
    grid-template-rows: 72.5px 67.5px;
    position: absolute;
    }
    .footer_clasificacion{
        visibility: hidden;
        display: none;
    }
    .video_player-icon{
        grid-row: 1;
        grid-column: 2;
        justify-self: center;
        align-self: center;
        margin-top: 10px;
    }
    .footer_cancion{
        visibility: hidden;
        display: none;
    }
    .cancion_resp{
        margin-top: 5px;
        visibility: visible;
        display: inline;
        grid-row: 2;
        grid-column: 2;
        font-size: 15px;
        color: white;
        font-weight: normal;
            -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    -moz-animation: example1 15s linear infinite;
    -webkit-animation: example1 15s linear infinite;
    animation: example1 15s linear infinite;
    }
    @-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
   }
   .video_player-barra{
       grid-column: 2;
       grid-row: 2;
       justify-self: center;
       align-self: end;
       margin-top: 5px;
   }
   .barra{
          background-color: #119DA4;
    height: 2px;
    position: relative;
    width: 150px;
   }
   .video_player-random{
       visibility: hidden;
       display: none;
   }
   .corazones_resp{
       visibility: visible;
        display: inline;
        grid-row: 1;
        grid-column: 2;
        justify-self: start;
        align-self: center;
        color: #119DA4;
        font-size: 30px;
        margin-top: 8px;
   }
   .corazones_resp i{
       color: #119DA4;
        font-size: 30px;
   }
   .dropdown-menu{
       background-color: black;
   }
   .hamburguesa{
       visibility: visible;
       display: inline;
       grid-row: 1;
        grid-column: 2;
        justify-self: end;
        align-self: center;
   }
   .dropdown-item{
       color: white;
         -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
   }
   .dropdown-item:hover{
       pointer-events:none;
   }
   .dropdown-toggle::after {
    display:none;
}
}
