.spacer {
    flex: 0.98;
  }
  .nav-bar_logo{
      margin-left: 20px;
  }
  .logo{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    display: block;
  }
  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 80px calc(100% - 160px) 80px;
    background-color: black;
    z-index: 10;
  }
  .buscador_responsive{
      visibility: hidden;
  }
  .buscador{
      display: inline-flex;
      margin: 0 auto;
      width:48%;
      grid-row: 1;
      grid-column: 2;
      justify-content: center;
      margin-top: 0.5%;
    }
  .buscador input{
      height: 30px;
      margin-top: 9px;
      border-radius: 9px;
      width: 300px;
      background-color: lightgray;
  }
  .buscador img{
      margin: 8px;
      color: white;
      font-size: 30px;
  }
  .dropdown-item img, .dropdown-item p{
    display: block;
    margin: 5px;
  }
.item_5 p, .item_5 img, .item_4 p, .item_4 img, .item_3 img, .item_3_text, .item_2 img, .item_2_text, .item_1 img, .item_1_text{
    display: inline-block;
}
  .item_1 img, .item_2 img, .item_3 img{
      margin-right: 15px;
      margin-top: -25px;
  }
.user h2{
    color: white;
    text-align: center;
    font-size: 20px;
}
.user p{
    color: white;
    font-size: 16px;
}
.user{
    grid-row: 1;
    grid-column: 3;
    justify-self: self-end; 
    display: inline-flex;
    margin-top: 8%;
}
.dropdown-menu{
    background-color: black;
}
.dropdown-menu span, .dropdown-menu h6{
    color: #119DA4;
}
.dropdown-menu ul{
    list-style: circle;
    color: #119DA4;
}
.dropdown-menu a{
    color: white;
}
.dropdown-item{
    pointer-events: none;
}
.dropdown-header{
    font-size: 20px;
    text-align: center;
}
.divider_0, .divider_1, .divider_2{
    position: relative;
    display: table-cell;
    vertical-align: top;
    margin-left: 0.5%;
    margin-right: 0.5%;
    line-height: 30px;
}
.dropdown-menu-right{
    position: absolute;
will-change: transform !important;
top: 0px !important;
left: 0px !important;
transform: translate3d(-400px, 38px, 0px) !important;
}
.buscador .opcion_1 .dropdown-menu{
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 39px, 0px);
    width: 100% !important;
}
  .side-panel{
    width: 250px;
    position: fixed;
    top: 0;
    background: #000;
    z-index: 99;
    height: 100%;
  }
  .side-panel h4{
      font-size: 24px;
      margin-top: 25px;
  }
  .side-panel_contacto{
      margin-top: 130px;
      text-align: center;
      align-items: center;
  }
  .side-panel_contacto a{
      color: white;
      text-decoration: none;
      font-size: 16px;
      padding-right: 30px;
      padding-left: 20px;
      
  }
  .side-panel_contacto img{
    color: white;
    font-size: 20px;
    margin-left: 38px;
    margin-right: 38px;
}
.side-panel_img{
    color: white;
    font-size: 40px;
    text-align: center;
}
.side-panel_img img{
    margin:10px;
    margin-top: 15px;
}
  .side-panel_informacion{
      color: white;
      margin-top: 50px;
      padding-left: 15px;
  }
  .side-panel_informacion i{
      padding: 8px;
      font-size: 20px;
  }
  .side-panel_informacion li{
      list-style-type: none;
      color: white;
      margin-top: 5px;
      text-decoration: none;
  }
  #side_panel_a{
      color: white;
      text-decoration: none;
      font-size: 18px;
      font-style: oblique;
      text-align: left;
  }
  .side-panel_informacion a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-left: 10px;
  }
    .user_notificaciones{
        border-radius: 100%;
        width: 25px;
        height: 25px;
        background-color: red;
        border: 2px solid red;
        position: fixed;
    }
<<<<<<< HEAD
<<<<<<< HEAD
    .responsive_user{
        visibility: hidden;
        display: none;
    }
    .configuracion_user img{
        height: 30px;
    }
    .configuracion_user p, .configuracion_user img{
        display: inline-block;
    }
    .logo-mobile{
        display: none;
    }
  @media screen and (max-width: 767px) {
      .toolbar{
          position: fixed;
      }
    .spacer {
        flex: 0.85;
      }
      .nav-bar_logo{
          margin-left: 10px;
      }
      .buscador input, .fa-bell, .side-panel{
        visibility: hidden;
    }
    .user_notificaciones{
        margin-top: -42px;
        margin-left: 45px;
    }
    .buscador{
        visibility: hidden;
    }
    .buscador_responsive{
        visibility: visible;
        color: white;
        font-size: 28px;
        position: absolute;
        top: 55%;
        left: 53%;
        margin: -25px 0 0 -25px;
     }
     .notificacion_user{
         visibility: hidden;
         display: none;
     }
     .configuracion_user{
         visibility: hidden;
         display: none;
     }
     .configuracion_resp img, .configuracion_resp i, .configuracion_resp p, .circle_notificacion{
        display: inline-block;
        margin: 5px;
     }
     .configuracion_resp img{
         height: 30px;
     }
     .configuracion_resp i{
         font-size: 30px;
     }
     .circle_notificacion{
        height: 25px;
        width: 25px;
        background-color: white;
        border-radius: 50%;
     }
     .responsive{
         display: none;
     }
     .logo-mobile{
         display: block;
         width: 58px;
     }
  }