<div class="toolbar" role="banner">
    <!-- logo -->
<div class="spacer"></div>
<div class="buscador_responsive">
    <i class="fa fa-search" aria-hidden="true"></i>
</div>
<div class="buscador">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input type="text">
    
</div>
<div class="user">
    

    <div class="dropdown dropleft">
        <img src="../assets/img/svg-images/notification-alert.svg" alt="Notificacion" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="height: 45px;"/>
        <div class="dropdown-menu ">
            <h2 class="dropdown-header">Configuracion del usuario</h2>
            <a class="dropdown-item" href="#">
                <div class="item_1">
                    <img src="../assets/img/svg-images/info.svg" alt="Notificacion" style="height: 30px;">
                    <div class="item_1_text">
                        <p>Te recomendamos hacer ejercicio.</p>
                        <p> Te sugerimos <span>Correr</span> para motivarte!</p>
                    </div>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="item_2">
                    <img src="../assets/img/svg-images/info.svg" alt="Notificacion" style="height: 30px; "> 
                    <div class="item_2_text">
                        <p>Es viernes por la noche y los sabemos!</p>
                        <p> lo nuevo de <span>Tini Stoessel</span>!</p>
                    </div>
                </div>
            </a>
            <a class="dropdown-item" href="#">
                <div class="item_3">
                    <img src="../assets/img/svg-images/info.svg" alt="Notificacion" style="height: 30px;">
                    <div class="item_3_text">
                        <p>Es Sábado de programar.</p>
                        <p>  Tenemos una <span>PlayList</span> para impulsarte.</p>
                    </div>  
                </div>
            </a>
        </div>
    </div>
    <div class="dropdown dropleft">
        <img src="../assets/img/svg-images/user.svg" alt="Usuario" class="btn dropdown-toggle" aria-hidden="true" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 45px;"/>
        <div class="dropdown-menu">
            <h2 class="dropdown-header">Configuracion del usuario</h2>
            <a class="dropdown-item item_4" href="#">
                        <img src="../assets/img/svg-images/config.svg" alt="Rueda config" style="height: 30px; fill: white;">
                        <p> Configuración de Perfil</p>
            </a>
            <a class="dropdown-item item_5" href="#">
                    <img src="../assets/img/svg-images/cerrarsesion.svg" alt="Cerrar Sesion" style="height: 30px; fill: white;">
                    <p>Cerrar Sesión</p>
            </a>
        </div>
    </div>

    <div class="user_notificaciones">
    </div>
</div>

<div class="side-panel">
    <h2>SpoilerFive</h2>
    <div class="side-panel_informacion">
        <h4><i class="fa fa-music" aria-hidden="true"></i>Mis Playlist</h4>
        <h4><i class="fa fa-star" aria-hidden="true"></i>Favoritos</h4>
        <div class="spacer"></div>
        <h4><i class="fa fa-play" aria-hidden="true"></i>Reproduciendo</h4>
        <ul>
            <li><a href="">Ver canción/Podcast</a></li>
            <li><a href="">Ver Artista/Autor</a></li>
            <li><a href="">Agregar a PlayList</a></li>
            <li><a href="">Agregar a Favoritos</a></li>
        </ul>        
    </div>
    <div class="side-panel_contacto">
        <img src="../assets/img/svg-images/envelope.svg" alt="Carta contacto" style="height: 18px;">
        <img src="../assets/img/svg-images/ayuda.svg" alt="Ayuda" style="height: 20px;">
        <div>
            <a href="" >Contacto</a>
            <a href="" >Ayuda</a>
          </div>
    </div>

    <div class="side-panel_img">
        <img src="../assets/img/svg-images/instagram.svg" alt="Instagram" style="height: 40px;">
        <img src="../assets/img/svg-images/twitter.svg" alt="Twitter"style="height: 40px;">
        <img src="../assets/img/svg-images/facebook.svg" alt="Facebook"style="height: 40px;">
    </div>
</div>
</div>