

<!-- <div class="container-scrolling">
    <div class="scrolling-wrapper">
        <div *ngFor="let item of scrollItems"></div>
            <app-card-with-label [image]="{{ item.image }}"; [title]="{{ item.title }}" class="card"  ></app-card-with-label>
             <app-card-with-label drag-scroll-item  class="card"></app-card-with-label> 
        </div> 
         
    </div>
</div> -->
<div class="contenedor-lista" >
    <h1 class="colorverde">Lista reproduccion</h1>
    <div class="container-scrolling">
<!--         <drag-scroll drag-scroll-y-disabled="true" scrollbar-hidden="true"> -->
            <drag-scroll orientation="horizontal" >
            <app-card-with-label drag-scroll-item class="card"></app-card-with-label>
            <app-card-with-label drag-scroll-item class="card"></app-card-with-label>
            <app-card-with-label drag-scroll-item class="card"></app-card-with-label>
            <app-card-with-label drag-scroll-item class="card"></app-card-with-label>
            <app-card-with-label drag-scroll-item class="card"></app-card-with-label>
            <app-card-with-label drag-scroll-item class="card"></app-card-with-label>
            <app-card-with-label drag-scroll-item class="card"></app-card-with-label>
            <app-card-with-label drag-scroll-item class="card"></app-card-with-label>
            <app-card-with-label drag-scroll-item class="card"></app-card-with-label>
            <app-card-with-label drag-scroll-item class="card"></app-card-with-label>
            <app-card-with-label drag-scroll-item class="card"></app-card-with-label>
            <app-card-with-label drag-scroll-item class="card"></app-card-with-label>
        </drag-scroll>
    </div>
</div>
<!-- <div class="container-scrolling">
    <drag-scroll drag-scroll-y-disabled="true" scrollbar-hidden="true">
        <div *ngFor="let item of arraySongs">
            <app-card-with-label [image]=item.image [titlesong]=item.titlesong drag-scroll-item class="card"></app-card-with-label>
        </div>
    </drag-scroll>
</div> -->