<div class="principal_mp" >
    <div class="titulo_principal">
        <h1>MIS PLAYLISTS</h1>
    </div>
    <div class="albumes">
        <div class="album">
            <img src="./assets/img/image.png" alt="album_1">
             <p> PlayList 1</p>
        </div>
        <div class="album"> 
            <img src="./assets/img/image.png" alt="album_2">
            <p> PlayList 2</p>
        </div>
        <div class="album">
            <img src="./assets/img/image.png" alt="album_3">
            <p> PlayList 3</p>
        </div>
        <div class="album">
            <img src="./assets/img/image.png" alt="album_4">
            <p> PlayList 4</p>
        </div>
        <div class="album">
            <img src="./assets/img/image.png" alt="album_5">
            <p> PlayList 5</p>
        </div>
        <div class="album">
            <img src="./assets/img/image.png" alt="album_6">
            <p> PlayList 6</p>
        </div>
        <div class="album">
            <img src="./assets/img/image.png" alt="album_7">
            <p> PlayList 7</p>
        </div>
        <div class="album">
            <img src="./assets/img/image.png" alt="album_8">
            <p> PlayList 8</p>
        </div>
        <div class="album">
            <img src="./assets/img/image.png" alt="album_9">
            <p> PlayList 9</p>
        </div>
    </div>

    <div class="canciones">
        <div class="header_canciones">
            <h2 id="numeral">#</h2>
            <h2 id="titulo">Título</h2>
            <h2 id="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></h2>
        </div>
        <div class="renglon_1">
            <p id="numeral">1</p>
            <p id="titulo">PlayList 1</p>
            <p id="icon">2:40</p>
            <img src="./assets/img/svg-images/play.svg" alt="Boton play">
        </div>
        <div class="renglon_2">
            <p id="numeral">2</p>
            <p id="titulo">PlayList 2</p>
            <p id="icon">3:40</p>
            <img src="./assets/img/svg-images/play.svg" alt="Boton play">
        </div>
        <div class="renglon_3">
            <p id="numeral">3</p>
            <p id="titulo">PlayList 3</p>
            <p id="icon">1:20</p>
            <img id="img" src="./assets/img/svg-images/play.svg" alt="Boton play">
        </div>
        <div class="renglon_4">
            <p id="numeral">4</p>
            <p id="titulo">PlayList 4</p>
            <p id="icon" >5:05</p>
            <img src="./assets/img/svg-images/play.svg" alt="Boton play">
        </div>
        <div class="renglon_5">
            <p id="numeral">5</p>
            <p id="titulo">PlayList 5</p>
            <p id="icon">7:15</p>
            <img src="./assets/img/svg-images/play.svg" alt="Boton play">
        </div>
    </div>

</div>
