<div class="principal_notificaciones">
    <div class="titulo">
        <img src="../assets/img/svg-images/notification-alert.svg" alt="campana notificacion" style="height: 35px; fill: white;">
        <h2>Notificaciones</h2>
    </div>
    <div class="notificaciones">
        <div class="1">
            <img src="C:\Users\Sasha\Desktop\SpoilerFive\Entregable_5\src\assets\img\svg-images\notificacion.svg" alt="Notificacion" style="height: 35px; fill: white;">
            <p>Te recomendamos hacer ejercicio.
                Te sugerimos <span>Correr</span> para motivarte!
            </p>
        </div>
        <div class="2">
            <img src="C:\Users\Sasha\Desktop\SpoilerFive\Entregable_5\src\assets\img\svg-images\notificacion.svg" alt="Notificacion" style="height: 35px; fill: white;"> 
            <p>Es viernes por la noche y los sabemos!
                Escucha lo nuevo de <span>Tini Stoessel</span>!
            </p>
        </div>
        <div class="3">
            <img src="C:\Users\Sasha\Desktop\SpoilerFive\Entregable_5\src\assets\img\svg-images\notificacion.svg" alt="Notificacion" style="height: 35px; fill: white;">
            <p>Es Sábado de programar.
                Tenemos una <span>PlayList</span> para impulsarte.
            </p>
        </div>
    </div>
</div>
