<!-- 
<mat-card class="card-song">
    <div class="flex-column">
        <div class="image-card">
            <i class="fillverdeclaro"></i>
            <img mat-card-image src="{{ imagesrc }}" >
        </div>
        
        <mat-card-actions>
            <a href="" class="colorgris">{{ titlesong }}</a>
        </mat-card-actions>
    </div>
</mat-card> -->

<mat-card class="card-song" >
    <div class="flex-column">
        <div class="itemsContainer">
            <div class="image"> <a href="#">  <img src="{{ item.imagesrc }}" /> </a></div>
            <a class="play"><img class="fillverdeclaro" src="../../assets/img/svg-images/play.svg" /> </a>
        </div>
        
        <mat-card-actions>
            <a href="" class="colorgris">{{ item.title }}</a>
        </mat-card-actions>
    </div>
</mat-card>