

<mat-card class="card-song" >
    <div class="flex-column">
        <div class="itemsContainer">
            <div class="image"> 
                <a routerLink="/cancion">  <img src="{{ item.imagesrc }}" /> </a>
            </div>
            <a class="play" routerLink="/cancion"><img class="playButton" src="../../assets/img/svg-images/play.svg"/> </a>
        </div>
        
        <mat-card-actions>
            <span class="colorgris"><a href="" class="colorgris">{{ item.title }}</a></span>
        </mat-card-actions>
    </div>
</mat-card>