
    <div class="principal">
        <div class="links">
            <img src="../assets/img/svg-images/atras.svg" alt="Flecha para atras" style="height: 30px;">
            <p>Música/PlayLists/MiPlayList</p>
        </div>

        <div class="compartir">
            <img src="../assets/img/svg-images/compartir.svg" alt="Boton para compartir" style="height: 39px;">
        </div>

        <div class="div_central">
            <img id="img_central" src="../assets/img/image.png" alt="Cancion">
            <h1 class="titulo_cancion">Cancion_1</h1>
            
            <div class="informacion_cancion">
                <p>Album_Canción_1</p>
                <p> - </p>
                <img src="../assets/img/svg-images/headphone.svg" alt="Auriculares" style="height: 18px;">
                <span>5</span>
            </div>
        </div>

        <div class="botones_cancion">
            <img src="../assets/img/svg-images/play.svg" alt="Boton play Aleatoreo" >
        </div>

        <div class="caja_informacion">
            <p>(Información sobre la canción)</p>
            <div class="clasificacion"> 
                <p>Rating: </p>
                <img src="../assets/img/svg-images/corazon-lleno.svg" alt="Corazon" style="height: 20px;">
                <img src="../assets/img/svg-images/corazon-lleno.svg" alt="Corazon" style="height: 20px;">
                <img src="../assets/img/svg-images/corazon-lleno.svg" alt="Corazon" style="height: 20px;">
                <img src="../assets/img/svg-images/corazon-lleno.svg" alt="Corazon" style="height: 20px;">
                <img src="../assets/img/svg-images/corazon-hueco.svg" alt="Corazon" style="height: 20px;">
            </div>
        </div>
        
        <div class="comentarios">
            <p id="p_comentarios">Deja tu comentario</p>

            <div class="caja_comentarios"></div>
            <button class="comentarios_btn">Publicar</button>

            <div class="cantidad_comentarios">

            </div>
        </div>

    </div>

    <!-- <div class="principal_responsive">

        <div class="links_responsive">
            <img src="../assets/img/svg-images/atras.svg" alt="Flecha para atras" style="height: 30px;">
        </div>

        <div class="div_central_responsive">
            <h1 class="titulo_cancion_responsive">Cancion_1</h1>                
                
        </div>
        <div class="botones_cancion_responsive">
            <img src="../assets/img/svg-images/play.svg" alt="Boton play Aleatoreo" >
        </div>

        <div class="caja_informacion">
            <p>Compositor: Compositor_1</p>
            <p>Ano de Lanzamiento: 2020</p>
            <p>Duracion: 2:20</p>
        </div>
        <div class="comentarios">
            <p id="p_comentarios">Deja tu comentario</p>

            <div class="caja_comentarios"></div>
            <button class="comentarios_btn">Publicar</button>

            <div class="cantidad_comentarios">

            </div>
        </div>

    </div> -->
    