
    <div class="principal" >
        <div class="links">
            <img src="./assets/img/svg-images/atras.svg" alt="Flecha para atras" style="height: 30px;">
            <p>Música/PlayLists/MiPlayList</p>
        </div>

        <div class="compartir">
            <img src="./assets/img/svg-images/compartir.svg" alt="Boton para compartir" style="height: 39px;">
        </div>

        <div class="div_central">
            <img id="img_central" src="./assets/img/songs/ayer.png" alt="Cancion">
            <h1 class="titulo_cancion">Ayer me llamo mi ex </h1>
            
            <div class="informacion_cancion">
                <p>Ayer Me Llamó Mi Ex (feat. Lenny Santos)</p>
                <p> - </p>
                <img src="./assets/img/svg-images/headphone.svg" alt="Auriculares" style="height: 18px;">
                <span>111.151.150</span>
            </div>
        </div>

        <div class="botones_cancion">
            <img src="./assets/img/svg-images/play.svg" alt="Boton play Aleatoreo" >
        </div>

        <div class="caja_informacion">
            <ul>
                <li>Artista:KHEA</li>
                <li>Fecha Estreno:20 de Agosto 2020</li>
                <li>Licencia:Foundation Media, LLC (en nombre de Young Flex/Interscope Records); LatinAutorPerf, Songtrust, BMI - Broadcast Music Inc.</li>
                <li>Puntuacion:4.2<img src="./assets/img/svg-images/corazon-lleno.svg" alt="Corazon" style="height: 20px;"></li>
            </ul>
        
        <div class="comentarios">
            <p id="p_comentarios">Deja tu comentario:</p>

            <div class="caja_comentarios"></div>
            <button class="comentarios_btn">Publicar</button>
            <div class="cantidad_comentarios">
                <div class="user_1"><img src="./assets/img/svg-images/user.svg" alt="user_1" ></div>
                <div class="comentario_1">
                    <p>El tema tiene buen flow</p>
                    <div class="corazones">
                        <img src="./assets/img/svg-images/corazon-lleno.svg" alt="" style="height: 45px;">
                        <img src="./assets/img/svg-images/corazon-lleno.svg" alt="" style="height: 45px;">
                        <img src="./assets/img/svg-images/corazon-lleno.svg" alt="" style="height: 45px;">
                        <img src="./assets/img/svg-images/corazon-lleno.svg" alt="" style="height: 45px;">
                        <img src="./assets/img/svg-images/corazon-hueco.svg" alt="" style="height: 45px;">
                    </div>
                </div>

                <div class="user_2"><img src="./assets/img/svg-images/user.svg" alt="user_2" ></div>
                <div class="comentario_2">
                    <p>---</p>
                    <div class="corazones">
                        
                        <img src="./assets/img/svg-images/corazon-lleno.svg" alt="">
                        <img src="./assets/img/svg-images/corazon-lleno.svg" alt="" >
                        <img src="./assets/img/svg-images/corazon-lleno.svg" alt="" >
                        <img src="./assets/img/svg-images/corazon-lleno.svg" alt="" >
                        <img src="./assets/img/svg-images/corazon-hueco.svg" alt="">
                    </div>
                </div>
                <div class="user_3"><img src="./assets/img/svg-images/user.svg" alt="user_3" ></div>
                <div class="comentario_3">
                    <p>Excelente, pero la cancion de trueno es mucho mejor</p>
                    <div class="corazones">
                        <img src="./assets/img/svg-images/corazon-lleno.svg" alt="" >
                        <img src="./assets/img/svg-images/corazon-lleno.svg" alt="" >
                        <img src="./assets/img/svg-images/corazon-lleno.svg" alt="" >
                        <img src="./assets/img/svg-images/corazon-lleno.svg" alt="" >
                        <img src="./assets/img/svg-images/corazon-hueco.svg" alt="" >
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="principal_responsive">

        <div class="links_responsive">
            <img src="./assets/img/svg-images/atras.svg" alt="Flecha para atras" style="height: 30px;">
        </div>

        <div class="div_central_responsive">
            <h1 class="titulo_cancion_responsive">Cancion_1</h1>                
                
        </div>
        <div class="botones_cancion_responsive">
            <img src="./assets/img/svg-images/play.svg" alt="Boton play Aleatoreo" >
        </div>

        <div class="caja_informacion">
            <p>Compositor: Compositor_1</p>
            <p>Ano de Lanzamiento: 2020</p>
            <p>Duracion: 2:20</p>
        </div>
        <div class="comentarios">
            <p id="p_comentarios">Deja tu comentario</p>

            <div class="caja_comentarios"></div>
            <button class="comentarios_btn">Publicar</button>

            <div class="cantidad_comentarios">

            </div>
        </div>

    </div> -->
    