
/* Style tab links */
.tab{
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.tablink {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .tablink:hover {
    font-weight: bolder;
    border-bottom: 5px solid ;
  }
  .active{
    font-weight: bolder;
    border-bottom: 5px solid ;
}

.container-scrolls{
    position: relative;
    left: 25%;
    width: 60%;
    margin: 10px;    
}
.contenedor{
    position: relative;
    margin-top: 20px;
    display: inline;
}