<mat-tab-group dynamicHeight>
    <mat-tab label="Musica" class="tablink">
  
        <div class="contenedor">
          <div class="list"><app-card-scroll-horizontal ></app-card-scroll-horizontal></div>
          <div class="list"><app-card-scroll-horizontal ></app-card-scroll-horizontal></div>
          <div class="list"><app-card-scroll-horizontal ></app-card-scroll-horizontal></div>
      </div>
    </mat-tab>
    <mat-tab label="Podcast" class="tablink">
    
        <!-- <div class="contenedor" >
           <div class="list"><app-card-scroll-horizontal ></app-card-scroll-horizontal></div>
          <div class="list"><app-card-scroll-horizontal ></app-card-scroll-horizontal></div>
          <div class="list"><app-card-scroll-horizontal ></app-card-scroll-horizontal></div> 
        </div>
   -->
    </mat-tab>
  </mat-tab-group>



<!-- <div class=" container-scrolls ">
    <div class="tab">
        <button class="tablink active colorverde"  onclick="">Musica</button>
        <button class="tablink colorverdeclaro" onclick="">Podcast</button>
    </div>
    <div class="contenedor">
       
    </div>
    
</div>   -->