<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a href="" class="footer_anchor">Ayuda</a>
    <a href="" class="footer_anchor">Contacto</a>
  </div>
  <div class="footer_sm">
    <button><img src="https://img.icons8.com/ios/50/000000/instagram-new--v1.png"/></button>
    <button><img src="https://img.icons8.com/ios/50/000000/facebook-new.png"/></button>
    <button><img src="https://img.icons8.com/ios/50/000000/twitter--v1.png"/></button>
  </div>
  <a href="https://icons8.com/icon/32292/instagram">Instagram icon by Icons8</a>
  <!-- Copyright -->

</footer>
<!-- Footer -->