.page-footer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: black;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}