/* Tipo de letra y tamaño */
body {
    font-family: 'Roboto', sans-serif;
  }

  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1rem;
  }
  p{
    
  }
  @media (max-width: 480px) {
    h1{

    }
    h2{

    }
    p{

    }
  }
/* colores */
.colorverdeoscuro{
  color: #13505B;
}
.backverdeoscuro{
  color: #13505B;
}
.colorverde{
  color:#0C7489; 
}
.backverde{
  background-color:#0C7489; 
}
.colorverdeclaro{
  color:#119DA4;
}
.backverdeclaro{
  background-color:#119DA4; 
}
.colorgris{
  color:#D7D9CE; 
}
.backgris{
  background-color:#D7D9CE; 
}
.colornegro{
  color:black;
}
.backnegro{
  background-color:black;
}
.colorblanco{
  color: white;
}
.colorgrisoscuro{
  color: #6D6969;
}
.backgrisoscuro{
  color: #6D6969;
}